body {
  background-color: lightgrey;
}

div.nav-wrapper.teal.darken-1 {
  padding: 0 4.5rem;
}

.col .row {
  margin: 0;
}

div.col.s12 {
  padding: 0;
}

div.card-panel.grey.darken-1 {
  margin: 1.5rem 0;
  padding: 0.5rem;
}

div.card.hoverable {
  margin: 0.5rem;
}

/* img.icon {
  width: 4.5rem;
  height: 4.5rem;
} */