*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

:root {
  font-size: 62.5%;
  background-color: #fff; }

::selection {
  background-color: #000;
  color: #fff; }

body {
  box-sizing: border-box; }
  body a {
    outline-color: #8B0000; }

body {
  font-family: "Berthold Akzidenz Grotesk BE", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5; }

.splash,
.navbar {
  font-weight: 700; }

.splash {
  font-size: 2rem;
  letter-spacing: 0.25px; }
  @media only screen and (min-width: 54em) {
    .splash {
      font-size: 2.2rem; } }

.navbar {
  letter-spacing: 0.5px; }
  .navbar a {
    text-decoration: none; }
  .navbar__home {
    color: #8B0000;
    font-size: 3rem;
    margin-right: 0.5rem; }
    .navbar__home:active {
      color: #F18B60; }
    @media only screen and (min-width: 54em) {
      .navbar__home {
        font-size: 4rem;
        margin-right: 0; } }
  .navbar__icon-box > a:not(:first-child) {
    margin-left: 0.5rem; }
  .navbar__link-box {
    font-size: 4rem; }
  .navbar__link-box > a {
    margin-left: 2rem; }
    .navbar__link-box > a:link, .navbar__link-box > a:visited {
      color: #000; }
    .navbar__link-box > a:hover {
      color: #8B0000; }
    .navbar__link-box > a:active {
      color: #F18B60; }

.splash {
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: #8B0000;
  color: #fff;
  padding: 4rem; }
  .splash__text {
    max-width: 30rem;
    padding-right: 3rem; }
    @media only screen and (min-width: 54em) {
      .splash__text {
        padding-right: 0; } }
  .splash:hover {
    background-color: #F18B60; }
  @media only screen and (min-width: 54em) {
    .splash {
      padding-top: 8rem;
      padding-right: 0;
      padding-bottom: 8rem; } }
  @media only screen and (min-width: 69em) {
    .splash {
      padding-left: 14rem; } }
  @media only screen and (min-width: 106em) {
    .splash {
      padding-left: 40rem; } }

header {
  z-index: 20;
  position: sticky;
  top: 0;
  background-color: #fff; }

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem; }
  .navbar__icon-box {
    display: flex;
    flex-direction: row; }
    .navbar__icon-box a,
    .navbar__icon-box svg {
      width: 3rem;
      height: 3rem; }
    @media only screen and (min-width: 54em) {
      .navbar__icon-box {
        display: none; } }
  .navbar__icon {
    fill: #000; }
    .navbar__icon:hover {
      fill: #8B0000; }
    .navbar__icon:active {
      fill: #F18B60; }
  .navbar__link-box {
    display: none; }
    @media only screen and (min-width: 54em) {
      .navbar__link-box {
        display: flex; } }
  @media only screen and (min-width: 54em) {
    .navbar {
      justify-content: flex-start;
      padding-right: 0;
      padding-left: 4rem; } }
  @media only screen and (min-width: 69em) {
    .navbar {
      padding-left: 14rem; } }
  @media only screen and (min-width: 106em) {
    .navbar {
      padding-top: 4rem;
      padding-bottom: 4rem;
      padding-left: 40rem; } }

.test-container {
  z-index: 10;
  position: relative;
  background-color: #fff;
  transform: translate3d(0, 0, 0);
  height: 1500px; }
