// COLOR VARIABLES
$color-primary: #990000; // darkred
$color-secondary: #FDD726; // gold
$color-white: #fff;
$color-black: #000;

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 62.5%; // 10px / 16px, 1 rem --> 10 px
  background-color: $color-white;
}

::selection {
  background-color: $color-secondary;
  color: $color-black;
}

body {
  box-sizing: border-box;
}