*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #9e9e9e;
  padding: 3vh;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

.container {
  display: grid;
  grid-template-rows: 94vh;
  grid-row-gap: 3vh;
  grid-template-columns: repeat(9, 1fr);
}