.header {
  grid-column: 1 / -1;
  background-color: #707070;

  display: grid;
  grid-template-rows: repeat(3, 1fr) 14rem 14rem 14rem repeat(3, 1fr);
  grid-template-columns: repeat(9, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;

  &__main {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    }

  &__sub {
    grid-row: 5 / 6;
    grid-column: 1 / -1;

  }

  &__logo {
    fill: #373737;
    height: 9rem;
    width: 9rem;
    transition: all .5s;
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
    display: grid; // Centers icons vertically

    &:hover {
      fill: #000;
      transform: translateY(-.3rem);
    }

    &:active {
      transform: translateY(-.1rem);
    }
  }

  &__github {
    grid-row: 6 / 7;
    grid-column: 4 / 5;
  }

  &__instagram {
    grid-row: 6 / 7;
    grid-column: 5 / 6;
  }

  &__linkedin {
    grid-row: 6 / 7;
    grid-column: 6 / 7;
  }

  & a {
    outline-color: #fff;
  }
}