// ALL BROWSERS /////////////////////////////////////////////////////
.header {
  background-color: #707070;
  text-align: center;

  a {
    outline-color: #fff;
    text-decoration: none;
  }

  &__logo {
    fill: #373737;
    width: 8rem;
    height: 8rem;
    animation: fadeInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
    transition: all .5s;

    &:hover {
      fill: #000;
      transform: translateY(-.3rem);
    }

    &:active {
      transform: translateY(-.1rem);
    }
  }
}

// OLDER BROWSERS ///////////////////////////////////////////////////
.header {
  position: relative;  
  height: 94vh;

  @include respond(tablet-m) {
    height: 100vh;
  }

  &__box {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // @include respond(tablet-l) {
    //   width: 90%;
    // }
  }
}

// NEWER BROWSERS ///////////////////////////////////////////////////
@supports (display: grid) {
  .header {
    position: initial;
    grid-column: 1 / -1;

    &__box {
      height: 100%;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-rows: 1fr repeat(3, min-content) 1fr;
      grid-template-columns: repeat(9, 1fr);
      grid-row-gap: 8vh;
    
      @supports (row-gap: 8vh) {
        row-gap: 8vh;      
      }
    }

    &__main {
      grid-row: 2 / 3;
      grid-column: 1 / -1;

      @include respond(tablet-l) {
        grid-column: 3 / 8;
      }
    }

    &__sub {
      grid-row: 3 / 4;
      grid-column: 1 / -1;

      @include respond(tablet-l) {
        grid-column: 3 / 8;
      }
    }

    &__github {
      grid-row: 4 / 5;
      grid-column: 4 / 5;

      @include respond(tablet-m) {
        grid-column: 3 / 4;
      }
    }

    &__instagram {
      grid-row: 4 / 5;
      grid-column: 5 / 6;
    }

    &__linkedin {
      grid-row: 4 / 5;
      grid-column: 6 / 7;

      @include respond(tablet-m) {
        grid-column: 7 / 8;
      }
    }
  }
}