.photo {
  margin-bottom: 5.6rem; // figcaption + margin-bottom = navbar height

  &--landscape {
    width: calc(100vw - 2rem);
    max-width: 85rem;

    @include respond(tablet) {
      width: calc(100vw - 5rem);
    }
  }

  &--square {
    width: calc(100vw - 2rem);
    max-width: 60rem;
  }

  @include respond(phone-small) {
    margin-bottom: 5rem; // figcaption + margin-bottom = navbar height
  }

  @include respond(tablet) {
    margin-bottom: 7.1rem; // figcaption + margin-bottom = navbar height
  }

  @include respond(desktop) {
    margin-bottom: 9.1rem; // figcaption + margin-bottom = navbar height
  }
}