.splash {
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: $color-primary;
  color: $color-white;
  padding: 4rem;

  &__text {
    max-width: 30.5rem;
    padding-right: 3rem;

    @include respond(tablet) {
      padding-right: 0;
    }
  }

  @include respond(tablet) {
    padding-top: 8rem;
    padding-right: 0;
    padding-bottom: 8rem;
  }

  @include respond(laptop) {
    padding-left: 14rem;
  }

  @include respond(desktop) {
    padding-left: 40rem;
  }
}