.splash {
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: $color-primary;
  color: $color-white;
  padding: 4rem;

  @include respond(small-phone) {
    padding: 3.6rem;
  }

  @include respond(mini-tablet) {
    padding-top: 8rem;
    padding-right: 0;
    padding-bottom: 8rem;
  }

  @include respond(laptop) {
    padding-left: 14rem;
  }

  @include respond(desktop) {
    padding-left: 40rem;
  }
}