@font-face {
  font-family: 'Berthold Akzidenz Grotesk BE Regular';
  src: url(../fonts/Berthold-Akzidenz-Grotesk-BE-Regular.eot); // Internet Explorer
  src: url(../fonts/Berthold-Akzidenz-Grotesk-BE-Regular.otf) format('truetype');
}

@font-face {
  font-family: 'Berthold Akzidenz Grotesk BE Bold';
  src: url(../fonts/Berthold-Akzidenz-Grotesk-BE-Bold.eot); // Internet Explorer
  src: url(../fonts/Berthold-Akzidenz-Grotesk-BE-Bold.otf) format('truetype');
}

body {
  font-family: 'Berthold Akzidenz Grotesk BE Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.splash,
.navbar {
  font-family: 'Berthold Akzidenz Grotesk BE Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.splash {
  font-size: 2rem;
  letter-spacing: 0.25px;

  @include respond(tablet) {
    font-size: 2.2rem;
  }
}

.navbar {
  letter-spacing: 0.5px;

  & a {
    text-decoration: none;
  }

  &__home {
    color: $color-primary;
    font-size: 3rem;
    margin-right: 0.5rem;

    &:active {
      color: $color-secondary;
    }

    @include respond(tablet) {
      font-size: 4rem;
      margin-right: 0;
    }
  }

  &__icon-box > a:not(:first-child) {
    margin-left: 0.5rem;
  }

  &__link-box {
    font-size: 4rem;
  }

  &__link-box > a {
    margin-left: 2rem;

    &:link,
    &:visited {
      color: $color-black;
    }

    &:hover {
      color: $color-secondary;
    }

    &:active {
      color: $color-primary;
    }
  }
}